*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

.split-view {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    @media (max-width: 1079px) {
        flex-direction: column;
    }
}

.separator {
    width: 7px;
    background-color: rgba(211, 211, 211, 0.493);
    cursor: col-resize;
    @media screen and (max-width: 1079px) {
        visibility: hidden; /* Ocultar en pantallas pequeñas */
    }
}

.col {
    height: auto;
    overflow: visible;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    width: 50%;
    @media screen and (max-width: 1079px) {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.modeler {
    
}

/* .code {
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    overflow: auto;
    text-align: left;
    border: #f5f5f5 solid 1px;
    height: 90%;
} */

.my-editor {
    height: 90%;
    width: 100%;
    border-radius: 8px;
    border: 0px;
    overflow: hidden;
    background: #1e1e1e;
    -moz-box-shadow: 5px 5px 18px -1px rgba(0,0,0,0.49);
    -webkit-box-shadow: 5px 5px 18px -1px rgba(0,0,0,0.49);
    box-shadow: 5px 5px 18px -1px rgba(0,0,0,0.49);
}